.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero img {
    max-width: 100%;
    height: 400px;
    width: 480px;
}

.description {
    margin: 20px 0;
    text-align: center;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.whatsapp-link {
    text-align: center;
    margin: 20px 0;
}

.whatsapp-link a {
    background-color: #25D366;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.whatsapp-link a:hover {
    background-color: #1EBEA5;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(228, 228, 228, 0.222);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    gap: 20px;
    padding: 0 4rem;
    text-decoration: none;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 20px;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

header {
    background-color: #00436d;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.navbar-items {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f7f7f7;
    text-align: center;
    /* Warna link */
}

.navbar-items>li>a {
    text-decoration: none;
    color: #e4dfdf;
    align-items: center;
}

.container-img {
    position: relative;
    height: calc(100vh - 150px);
    width: 100%;
}

.main-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.blur-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.564);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    color: #eef0f0;
    font-size: 70px
}

.logo {
    width: 80px;
    height: 80px;
}

.how-we-can-help {
    text-align: center;
    padding: 4
}